{
    email {$ACME_EMAIL}
    auto_https prefer_wildcards
}

{$CHUMA_DOMAIN} {
    encode gzip
    reverse_proxy app:8097

    header {
        -Server
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }

    request_body {
        max_size 32MB
    }
}
